{
  "records": [
    {
      "name": "blue_pool",
      "data": "/Common/Shared/blue"
    },
    {
      "name": "distribution",
      "data": "{{distribution}}"
    },
    {
      "name": "green_pool",
      "data": "/Common/Shared/green"
    }
  ]
}