{ 
    "name": "bluegreen_datagroup",  
    "partition": "{{tenant}}/{{application}}", 
    "type": "string", 
    "records": [ 
        { "name": "blue_pool", "data": "{{bluepool}}" }, 
        { "name": "distribution", "data": "{{distribution}}" }, 
        { "name": "green_pool", "data": "{{greenpool}}" }
    ] 
}