{
    "$schema": "https://raw.githubusercontent.com/F5Networks/f5-appsvcs-extension/master/schema/3.25.0/as3-schema-3.25.0-3.json",
    "class": "AS3",
    "action": "deploy",
    "persist": true,
    "declaration": {
        "class": "ADC",
        "schemaVersion": "3.25.0",
        "id": "id_{{partition}}",
        "label": "{{partition}}",
        "remark": "An HTTP service with percentage based traffic distribution",
        "{{partition}}": {
            "class": "Tenant",
            "{{application}}": {
                "class": "Application",
                "service": {
                    "class": "Service_L4",
                    "virtualAddresses": [
                        "{{virtualAddress}}"
                    ],
                    "virtualPort": {{virtualPort}},
                    "persistenceMethods": [],
                    "profileL4": {
                        "bigip":"/Common/fastL4"
                    },
                    "snat":"auto",
                    {% if enableBGDistribution -%}
                    "iRules": [
                        "{{partition}}_bluegreen_irule"
                    ],
                    {% endif -%}
                    "pool": {"bigip":"{{defaultPool}}"}
                },
                "bluegreen_datagroup": {
                    "class": "Data_Group",
                    "remark": "BlueGreen Data Group for service",
                    "keyDataType": "string",
                    "records": [
                        {
                            "key": "distribution",
                            "value": "{{distribution}}"
                        },
                        {
                            "key": "blue_pool",
                            "value": "/Common/Shared/blue"
                        },
                        {
                            "key": "green_pool",
                            "value": "/Common/Shared/green"
                        }
                    ]
                },
                "{{partition}}_bluegreen_irule": {
                    "class": "iRule",
                    "iRule": {
                        "base64": "CndoZW4gQ0xJRU5UX0FDQ0VQVEVEIHsKICAgIHNldCByYW5kIFtleHByIFtUQ1A6OmNsaWVudF9wb3J0XSAlIDEwMF0KICAgIHNldCBkaXN0cmlidXRpb24gW2NsYXNzIG1hdGNoIC12YWx1ZSBcImRpc3RyaWJ1dGlvblwiIGVxdWFscyBibHVlZ3JlZW5fZGF0YWdyb3VwXQogICAgaWYgeyAkcmFuZCA+ICRkaXN0cmlidXRpb24gfSB7CiAgICAgICAgcG9vbCAvQ29tbW9uL1NoYXJlZC9ncmVlbgogICAgfSAKfQ=="
                    }
                }
            }
        }
    }
}